{% load i18n %}
{% load staticfiles %}
{% load postman_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for Google -->
    <meta name="description" content="THE WORLD von Research Athletes World"/>
    <meta name="keywords" content="Researched Athletes World, RAWO, Raw360, Rawo world"/>

    <meta name="author" content="Marvin Muuß"/>
    <meta name="copyright" content="RAWO Training GmbH"/>
    <meta name="application-name" content="THE WORLD"/>

    <!-- for Facebook -->
    <meta property="og:title" content="THE WORLD von Research Athletes World"/>
    <meta property="og:site_name" content="THE WORLD"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{% static 'rawo/images/RAWOblack.png' %}"/>
    <meta property="og:url" content="https://www.raworld.info/"/>
    <meta property="og:description"
          content="THE WORLD vernetzt Spezialisten aus verschiedenen Performance Bereichen. Lege ein Profil an und knüpfe Kontakte zu anderen Experten aus deinem Umfeld."/>
    <meta charset="UTF-8"/>
    <title>{{ title|default:'RAWO' }}</title>
    <link rel="icon" href="{% static 'rawo/images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'rawo/css/bootstrap-slate/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rawo/css/font-awesome/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rawo/css/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rawo/css/rawo/base.css' %}"/>

    <script type="text/javascript" src="{% static 'rawo/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rawo/js/bootstrap/bootstrap.min.js' %}"></script>
    {% if not debug %}
        <script type="text/javascript">
            window.smartlook || (function (d) {
                var o = smartlook = function () {
                    o.api.push(arguments)
                }, h = d.getElementsByTagName('head')[0];
                var c = d.createElement('script');
                o.api = new Array();
                c.async = true;
                c.type = 'text/javascript';
                c.charset = 'utf-8';
                c.src = 'https://rec.smartlook.com/recorder.js';
                h.appendChild(c);
            })(document);
            smartlook('init', '750c2a0a3b0671a296ba6a3ea19a529bdd568c7f');
        </script>
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#000"
                        },
                        "button": {
                            "background": "#337ab7"
                        }
                    },
                    "theme": "classic",
                    "position": "bottom-right",
                    "content": {
                        "message": "Diese Website verwendet Cookies, um sicherzustellen, dass Sie die beste Erfahrung auf unserer Website erhalten.",
                        "dismiss": "Verstanden",
                        "link": "Mehr erfahren"
                    }
                })
            });
        </script>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.raw360.at/">
                <img src="{% static 'rawo/images/RAWOwhite-300x74.png' %}" style="max-height: 140%">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav text-uppercase">
                <li {% if section == "world" %}class="active"{% endif %}><a
                        href="{% url 'world' %}"><strong>World</strong><span
                        class="sr-only">(current)</span></a></li>
                {% comment %}<li {% if section == "comp" %}class="active"{% endif %}><a href="{% url 'competitions' %}"><strong>Wettkämpfe</strong></a>
                </li>
                <li {% if section == "athl" %}class="active"{% endif %}><a
                        href="{% url 'athleten' %}"><strong>Athleten</strong></a></li>
                <li {% if section == "records" %}class="active"{% endif %}><a
                        href="{% url 'rekorde' %}"><strong>Rekorde</strong></a></li>{% endcomment %}
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <form id="changeLanguage" action="{% url 'set_language' %}" method="post"
                          class="hidden">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                        <input name="language" value="">

                    </form>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {% get_current_language as LANGUAGE_CODE %}
                        <span class="flag-icon flag-icon-{{ LANGUAGE_CODE }}"></span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <li><a id="changeLang_{{ language.code }}" href="#"><span
                                    class="flag-icon flag-icon-{{ language.code }}"></span> {{ language.name_local }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if request.user.is_authenticated %}

                    <li role="presentation" class="dropdown {% if section == "dashboard" %}active{% endif %}">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            {{ request.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% if request.user.is_superuser %}
                                <li><a
                                        href="{% url 'admin:index' %}"><i class="fa fa-user" aria-hidden="true"></i>
                                    Admin</a>
                                </li>
                            {% endif %}
                            <li><a
                                    href="{% url 'dashboard' %}"><i class="fa fa-tachometer" aria-hidden="true"></i>
                                Dashboard</a>
                            </li>
                            <li>
                                <a id="account_messages" href="{% url "postman:inbox" %}"><i
                                        class="fa fa-envelope"></i> {% trans "Messages" %}{% postman_unread as ru %}
                                    {% if ru %} <span
                                            class="badge bg-primary"
                                            style="background-color: #337ab7!important;">{{ ru }}</span>{% endif %}</a>
                            </li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url "login" %}">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock %}

{% include 'messages.html' %}
<script type="text/javascript" src="{% static 'rawo/js/rawo/base.js' %}"></script>
</body>
</html>