<footer>
        <div class="container">
            <div class="row pull-right">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        {% comment %}<li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>{% endcomment %}
                        {% comment %}<li>
                            <a href="{% url 'about' %}">Über uns</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'contact' %}">Kontakt</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'legal' %}">Impressum</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'privacy' %}">Datenschutz</a>
                        </li>{% endcomment %}
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; MM& SG 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>