{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rawo/css/rawo/animate.css' %}">

<script type="text/javascript" src="{% static 'rawo/js/bootstrap-notify/bootstrap-notify.js' %}"></script>
<script>
    {% for msg in messages %}
        $.notify({
            // options
            message: '{{ msg }}'
        }, {
            // settings
            type: '{{ msg.tags }}',
            offset: {x: 20, y: 70},
            mouse_over: 'pause',
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            newest_on_top: true
        });
    {% endfor %}
</script>