/**
 *From: http://dane.one/projects/jquery-dropdown/;
 *	=Structure
 *
 *	================================================================ */
/**
 *	=General
 *	---------------------------------------------------------------- */
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1.5;
}
.dropdown a {
  text-decoration: none;
}
/**
 *	=Toggle
 *	---------------------------------------------------------------- */
.dropdown-toggle {
  background: #ffffff;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  padding: 8.75px 20px;
  margin: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.dropdown-toggle .dropdown-icon {
  height: 2px;
  width: 8px;
  opacity: .6;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.dropdown-toggle .dropdown-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
}
.dropdown-toggle .dropdown-text {
  display: inline-block;
  vertical-align: middle;
}
.dropdown-toggle img {
  vertical-align: middle;
}
/**
 *	=Containers
 *	---------------------------------------------------------------- */
.dropdown-menu-wrapper {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.dropdown-menu-container {
  position: relative;
  width: 300px;
  max-width: 100%;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
}
.dropdown-menu-main,
.dropdown-menu-open {
  display: block;
}
.dropdown-menu-open {
  position: relative;
}
.dropdown-menu-wrapper {
  position: absolute;
  z-index: 999;
  display: none;
  opacity: 0;
}
.dropdown-below .dropdown-menu-wrapper {
  top: 100%;
  bottom: auto;
  margin: 3px 0 0;
}
.dropdown-above .dropdown-menu-wrapper {
  bottom: 100%;
  top: auto;
  margin: 0 0 3px;
}
.dropdown-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.dropdown-animating .dropdown-mask {
  display: block;
}
.dropdown-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  opacity: 0;
}
/**
 *
 *	=Menu styles
 *
 *	================================================================ */
/**
 *	=Header
 *	---------------------------------------------------------------- */
.dropdown-header {
  position: relative;
  min-height: 25px;
  padding: 12.5px 50px;
  margin: 0;
  border-bottom: 1px solid #cccccc;
}
.dropdown-menu-main .dropdown-header {
  display: none;
}
.dropdown-title {
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  padding: 0;
  margin: 0;
}
/**
 *	=Buttons
 *	---------------------------------------------------------------- */
.dropdown-close,
.dropdown-back {
  position: absolute;
  text-decoration: none;
  top: 0;
  font-weight: bold;
  color: #aaaaaa;
  font-size: 16px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dropdown-close .dropdown-text,
.dropdown-back .dropdown-text {
  display: none;
}
.dropdown-back {
  left: 0;
}
.dropdown-back .dropdown-icon:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
}
.dropdown-menu-main .dropdown-back {
  display: none;
}
.dropdown-close {
  display: none;
  right: 0;
}
.dropdown-close .dropdown-icon:after {
  font-family: sans-serif;
  content: '\00d7';
}
/**
 *	=List
 *	---------------------------------------------------------------- */
.dropdown-list,
.dropdown-item {
  list-style-type: none;
  font-size: inherit;
}
.dropdown-list {
  overflow: hidden;
  text-align: left;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 10px 0;
}
.dropdown-item {
  padding: 0;
  margin: 0 0 1px;
}
.dropdown-item:last-child {
  margin-bottom: 0;
}
/**
 *	=Labels
 *	---------------------------------------------------------------- */
.dropdown-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin: 20px 0 0;
}
.dropdown-label:first-child {
  margin-top: 0;
}
/**
 *	=Dividers
 *	---------------------------------------------------------------- */
.dropdown-divider {
  border-bottom: 1px solid #e0e0e0;
  margin: 10px 0;
}
.dropdown-divider:first-child,
.dropdown-divider:last-child {
  display: none;
}
.dropdown-divider + .dropdown-label {
  margin-top: 10px;
}
.dropdown-divider:first-child + .dropdown-label {
  margin-top: 0;
}
/**
 *	=Items
 *	---------------------------------------------------------------- */
.dropdown-link {
  display: block;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
}
.dropdown-parent .dropdown-link:after {
  content: '';
  opacity: .6;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -4px;
  display: inline-block;
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-link:hover {
  background: rgba(0, 0, 0, 0.03);
  color: #0d659b;
}
.dropdown-focused .dropdown-link {
  background: rgba(0, 0, 0, 0.03);
  color: #0d659b;
}
.dropdown-selected .dropdown-link {
  background: #1d81c0;
  color: #ffffff;
}
/**
 *
 *	=Mobile styles
 *
 *	================================================================ */
@media screen and (max-width: 600px) {
  /**
	 *	=Overlays
	 *	---------------------------------------------------------------- */
  .dropdown-overlay {
    z-index: -1;
    transition: opacity .2s linear;
  }
  .dropdown-opening .dropdown-overlay,
  .dropdown-open .dropdown-overlay {
    z-index: 101;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /**
	 *	=Containers
	 *	---------------------------------------------------------------- */
  .dropdown-menu-wrapper {
    width: auto !important;
    height: auto !important;
    position: fixed !important;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 0;
    border: 0;
  }
  .dropdown-above .dropdown-menu-wrapper,
  .dropdown-below .dropdown-menu-wrapper {
    top: 10px;
    bottom: 10px;
    margin: 0;
  }
  .dropdown-menu-container {
    width: 100%;
  }
  /**
	 *	=Header
	 *	---------------------------------------------------------------- */
  .dropdown-menu-main .dropdown-header {
    display: block;
  }
  .dropdown-close {
    display: block;
  }
}
@media all and (min-width: 601px) {
  .dropdown-overlay {
    display: none !important;
  }
}
