{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container container-first"
         style="background-image: url('/static/ham_app/images/404.jpg'); height: 720px; width: auto; background-size: cover">
        <h1 style="position: relative;text-align: center;top: 40%;color: whitesmoke">Error 404
            <small style="color: whitesmoke">- Diese Seite existiert nicht</small>
        </h1>
    </div>
{% endblock %}