{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container container-first" >
        <h1>Error 500 <small>- Interner Server Fehler</small></h1>
    </div>
{% endblock %}