{% extends "base.html" %}
{% load staticfiles %}
{% load i18n postman_tags %}
{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'postman/css.css' %}"/>
    <div class="container-first">
        <div class="col-lg-2">
        {% if request.user.is_authenticated %}
            <ul id="postman_menu" class="nav nav-pills nav-stacked sl-nav">{% postman_unread as unread_count %}
                <li role="presentation"><a href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %}
                    <strong>({{ unread_count }})</strong>{% endif %}</a></li>
                <li role="presentation"><a href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
                <li role="presentation"><a href="{% url 'postman:write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
                <li role="presentation"><a href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
                <li role="presentation"><a href="{% url 'postman:trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
            </ul>
        {% endif %}
        </div>
        <div class="col-lg-10">
            {% block body %}
            {% endblock %}
        </div>
    </div>
{% endblock content %}