{% extends 'postman/base.html' %}
{% load i18n postman_tags %}
{% load pagination_tags %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block body %}

    <div id="postman"class="pull-left">
        <h1>{% block pm_write_title %}{% trans "Write"%}{% endblock %}</h1>
        <form class="form-horizontal" action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
                {% block pm_write_recipient %}{% endblock %}
                {% include 'accounts/generic_form.html' with form=form %}
            <button type="submit" class="btn btn-primary pull-right">{% trans "Send" %}</button>
        </form>
    </div>
{% endblock %}