/*
 *  SliderNav - A Simple Content Slider with a Navigation Bar
 *  Copyright 2010 Monjurul Dolon, http://mdolon.com/
 *  Released under the MIT, BSD, and GPL Licenses.
 *  More information: http://devgrow.com/slidernav
 */

.slider ul {
    list-style: none;
}

.slider .slider-nav {
    position: fixed;
    right: 0;
    /*top: 0;
    height: 100%;
    min-height: 250px;*/
}

.slider .slider-nav ul {
    /*float:right;*/
    padding: 5px 0;
}

.slider .slider-nav li a {
    padding: 3px 5px;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}

.slider-content {
    float: left;
    display: block;
    overflow: auto;
    min-height: 250px;
}

.slider-content ul {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    padding-left:0px;
}

.slider-content ul li {
    float: left;
    width: 100%;
}

.slider-content ul ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    text-transform: capitalize;
}

.slider-content ul ul li a:hover {
    background: #f3faff;
    border-color: #d5ebf9;
}

.slider-content .title {
    padding: 5px 0;
    text-indent: 10px;
    color: #fff;
    background-color: #337ab7;
    width: 100%;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-content .header {
    padding: 5px 0;
    text-indent: 10px;
    color: #fff;
    background-color: #337ab7 !important;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-content .selected .title {
    background: #286090;
}

.slider-content .header .selected {
    background: #286090 !important;
}

@media (max-width: 768px){
    .slider-nav{
        padding-right: 0px;
    }
    .slider-content {
        padding-left: 0px;
    }
}