{% load widget_tweaks %}

<style>
</style>
{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
    <div class="form-group">
        <label class="col-sm-3 control-label"
               for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-9">
            {{ field | add_class:"form-control" }}
        </div>
        {% for error in field.errors %}
            <div class="col-sm-9 col-sm-push-3">
                <div class="alert alert-small alert-danger" role="alert" style="margin-bottom: 0px;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endfor %}