{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <div class="container container-first">
        <h2>Registrierung</h2>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nutzer</h3>
                </div>
                <div class="panel-body">
                    {% include 'accounts/generic_form.html' with form=userCreationForm %}
                </div>
            </div>

            <button type="submit" id="submit" class="btn btn-primary pull-right">Registrierung abschließen</button>
        </form>
    </div>
    <script>
    $('#id_isPartner').removeClass('form-control').css('margin-left', '0px');
    $('#id_isPartner').parent().addClass('checkbox');
    </script>

{% endblock %}