{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="container container-first">
        <div class="col-lg-6 col-lg-push-3">
            <form action="{% url 'login' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><span style="font-size: 30px;">Login</span></h2>
                    </div>
                    <div class="panel-body">
                        {% include 'accounts/generic_form.html' with form=form %}
                    </div>

                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
                <p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log-in">Anmelden</button>
                </p>
                <a href="{% url 'register' %}">Registrieren</a>
                <a class="pull-right" href="{% url "password_reset" %}">Passwort vergessen?</a>
            </form>
        </div>
    </div>
{% endblock %}