{% extends "base.html" %}
{% block content %}
    <div class="container container-first">
        <div class="col-lg-6 col-lg-push-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><span style="font-size: 30px;">Passwort gesetzt</span></h2>
                </div>
                <div class="panel-body">
                    Du kannst dich nun <a href="{% url "login" %}">hier einloggen</a>.
                </div>

            </div>
        </div>
    </div>
{% endblock %}