{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container container-first">
        <div class="col-lg-6 col-lg-push-3">
            {% if validlink %}
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title"><span style="font-size: 30px;">Passwort zurücksetzen</span></h2>
                        </div>

                        <div class="panel-body">
                            {% include 'accounts/generic_form.html' with form=form %}
                        </div>

                    </div>
                    <p>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" value="send">Senden</button>
                    </p>
                </form>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><span style="font-size: 30px;">Passwort zurücksetzen</span></h2>
                    </div>

                    <div class="panel-body">
                        <p>The password reset link was invalid, possibly because it has
                            already been used. Please request a new password reset.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}