{% extends 'base.html' %}
{% block content %}
    <div class="container container-first">
        <div class="col-lg-6 col-lg-push-3">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><span style="font-size: 30px;">Du hast dein Passwort vergessen?</span></h2>
                    </div>
                    <div class="panel-body">
                        Kein Problem. Wir senden dir ein neues Passwort zu.
                    </div>
                    <div class="panel-body">
                        {% include 'accounts/generic_form.html' with form=form %}
                    </div>

                </div>
                <p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="send">Senden</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}