{% extends "accounts/dashboard/dashboard.html" %}

{% block dashboard_content %}
    <div class="col-lg-6 col-lg-push-3">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><span style="font-size: 30px;">Passwort ändern</span></h2>
                </div>
                <div class="panel-body">
                    Dein Passwort wurde erfolgreich geändert!
                </div>
            </div>
        </form>
    </div>
{% endblock %}