{% extends 'base.html' %}
{% block content %}
    <div class="container container-first">
        <div class="col-lg-6 col-lg-push-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><span style="font-size: 30px;">Passwort zurücksetzen</span></h2>
                    </div>
                    <div class="panel-body">
                        <p>Wir haben dir Infos geschickt wie du dein Passwort zurücksetzen kannst.</p>
                        <p>Solltest du keine Email erhalten haben, versichere dich, dass du die Emailadresse angegeben hast, mit der du registriert bist.</p>
                    </div>

                </div>
        </div>
    </div>
{% endblock %}