{% load staticfiles %}
<table class="table table-striped table-hover table-responsive table-condensed">
    <thead>
    <tr>

        <th><span class="h3">User</span></th>
        <th><span class="h3">Name</span></th>
        <th><span class="h3">Vorname</span></th>
        <th><span class="h3">Rollen</span></th>
        <th><span class="h3">Aktiviert</span></th>
        <th><span class="h3">Stadt</span></th>
        <th><span class="h3">Aktion</span></th>
    </tr>
    </thead>
    <tbody>
    {% for p in partner %}
        <tr>
            <td>{{ p.user }}</td>
            <td>{{ p.name|default_if_none:'' }}</td>
            <td>{{ p.firstname|default_if_none:'' }}</td>
            <td>{% for r in p.assocRoles.all %}{% if forloop.last %}{{ r.role.name }}{% else %}
                {{ r.role.name|add:', ' }}{% endif %}{% endfor %}</td>
            <td><i
                    class="fa {% if p.isActive %}fa-check-square-o{% else %}fa-square-o{% endif %} fa-lg text-center"
                    style="vertical-align: middle" aria-hidden="true"></i></td>
            <td>{{ p.profil.city|default_if_none:'' }}</td>
            <td>
                <a id="edit_" target="_blank" href="/admin/rawo_base/profil/{{ p.partner_id }}/change/"
                   class="btn btn-default btn-md"><span class=""><i class="fa fa-edit"
                                                                    style="margin-right: 5px"
                                                                    aria-hidden="true"></i>Bearbeiten</span>
                </a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>