{% extends 'accounts/dashboard/dashboard.html' %}
{% load staticfiles %}
{% block dashboard_content %}

    <div style="margin-top: 5px">
        <div class="pull-left" style="margin-bottom: 5px;">
            <span>
            <label for="s_status">Status</label>
            <select id="s_status" class="form-control" style="display: inline-block; width:inherit">
                <option value="off">Alle</option>
                <option value="true">Aktive</option>
                <option value="false">Inaktive</option>
            </select>
                </span>
        </div>
        <div class="pull-right" style="margin-bottom: 5px;">
            <span class="btn btn-default" style="cursor:default">
                                    <i class="fa fa-search" style="margin-right: 5px"></i>
                                    <input type="text" id="search" name="search" class="form-control"
                                           style="height: 20px; display:inline-block; width:90%;">
                                </span>
        </div>
        <div id="partner-data">
            {% include 'accounts/dashboard/partner/partner_data.html' %}
        </div>

    </div>

    <script type="text/javascript"
            src="{% static 'accounts/js/dashboard/partner/partner.js' %}"></script>
{% endblock %}