{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid container-first">
        <div class="col-lg-12 col-md-12 page-header">
            <h1 style="display:inline">Dashboard
            </h1>
        </div>
        <div class="row">
            <div id="nav" class="col-lg-2 col-md-2 col-sm-2 sl-nav">
                <ul class="nav nav-pills nav-stacked" id="nav-ul">
                    {% if request.user.is_superuser %}
                        <li role="presentation" {% if dashboard == "partner" %}class="active"{% endif %}>
                            <a id="athleten" href="{% url 'partner' %}" name="partner">
                                Partner
                            </a>
                        </li>

                        <br>
                    {% endif %}
                    <li role="presentation" {% if dashboard == "profil" %}class="active"{% endif %}>
                        <a id="profil" href="{% url 'profil' %}" name="profil">
                            Mein Profil
                        </a>
                    </li>
                {% if request.user.profil.isPartner %}
                    <li role="presentation" {% if dashboard == "pp" %}class="active"{% endif %}>
                        <a id="profil" href="{% url 'myPartnerProfil' %}" name="pp">
                            Mein Partnerprofil
                        </a>
                    </li>
                {% endif %}

                    <li role="presentation">
                        <a id="profil" href="{% url 'password_change' %}" name="pw-change">
                            Passwort ändern
                        </a>
                    </li>
                </ul>
            </div>
            <div id="content" class="col-lg-9 col-md-10 col-sm-10">
                {% block dashboard_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}