{% extends 'accounts/dashboard/dashboard.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block dashboard_content %}
    <script>
    $('#content').addClass('col-lg-10').removeClass('col-lg-9')
    </script>
    <div>
        <h2>{{ p.firstname }} {{ p.name }}</h2>
        <div class="col-lg-9">
            <div class="form-group">
                <label for="introduction">Vorstellung:</label>
                <textarea class="form-control" rows="7" onkeyup="textCounter(this)"
                          id="introduction">{{ p.profil.introduction|default_if_none:'' }}</textarea>
                Noch <span id="leftChars">{{ leftChars }}</span> Zeichen übrig.
            </div>
        </div>
        <div class="col-lg-3">
            <img class="img-circle pull-right" src="
                    {% if p.picture %} {{ p.picture.url }} {% else %} {% static 'rawo/images/default_user.png' %} {% endif %}"
                 alt="" style="max-height:100%; max-width:100%">
            <label class="btn btn-default btn-file pull-left hidden-sm hidden-xs">
                <form action="." method="post" enctype="multipart/form-data" id="picform">
                    {% csrf_token %}
                    Browse <input type="file" name="picture" id="picture" style="display: none;">
                </form>
            </label>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6" style="padding-left:0px">
                <label for="usr">Erfahrungen</label>
                {% for e in experience %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="experience_{{ e.prio }}"
                               value="{{ e.desc|default_if_none:'' }}">
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6" style="padding-left: 0px">
                <label for="usr">Schwerpunkte</label>
                {% for e in emphasis %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="emphasis_{{ e.prio }}"
                               value="{{ e.desc|default_if_none:'' }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'accounts/js/dashboard/profil/profil.js' %}"></script>
{% endblock %}