{% extends 'accounts/dashboard/dashboard.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block dashboard_content %}
    <div>
        <h2>Profil bearbeiten</h2>
        <form class="form-horizontal" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profil</h3>
                </div>
                <div class="panel-body">
                    {% include 'accounts/generic_form.html' with form=form %}
                    <hr>
                    {% include 'accounts/generic_form.html' with form=partner %}
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-primary pull-right">Speichern</button>
            <a href="#" type="cancel" id="cancel" class="btn btn-default pull-right"
               style="margin-right: 5px">Abbrechen</a>
        </form>
    <style>
        .form-group.required .control-label:after {
  content:" *";
  color:red;
}
    </style>
    </div>
{% endblock %}