{% load static %}
<div id="content" class="" style="color: black!important;">
    <h3 style="margin-top: 10px;">{{ p.firstname|default_if_none:'' }} {{ p.name|default_if_none:'' }}</h3>
    {% if p.profil.introduction %}
        <div class="col-lg-9">
            <div style="white-space: pre-wrap;">{{ p.profil.introduction }}</div>
        </div>
        <div class="col-lg-3">
            <img class="img-circle"
                 src="

                         {% if p.picture %}{{ p.picture.url }}{% else %}{% static 'rawo/images/default_user.png' %}{% endif %}"
                 alt="" style="max-height: 100%; max-width: 100%;">
        </div>
    {% else %}

        <div class="col-lg-3 pull-right">
            <img class="img-circle"
                 src="

                         {% if p.picture %}{{ p.picture.url }}{% else %}{% static 'rawo/images/default_user.png' %}{% endif %}"
                 alt="" style="max-height: 100%; max-width:100%">
        </div>
    {% endif %}
    <div class="col-lg-12">
        <br>
        Rollen: {% for r in roles %}{% if forloop.last %}{{ r.role.name }}{% else %}{{ r.role.name|add:', ' }}
    {% endif %}{% endfor %}
        <br>
        <br>
        <a href="{% url 'partnerProfil' id=p.partner_id %}" target="_blank" style="color:black">Zum Profil</a>
        <a href="{% url 'postman:write' p.user %}" target="_blank" style="margin-left: 10px; color:black">Nachricht
            schreiben</a>
    </div>
</div>