{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'world/css/world.css' %}"/>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="container-first col-lg-2">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for r in roles %}
                            <li class="list-group-item">
                                <label class="label-pointer noselect"><input type="checkbox" name="role" id="{{ r.id }}"
                                              value="{{ r.id }}" checked><img
                                        src="{{ r.picture.url }}">{{ r.name }}</label>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="panel-footer" style="min-height:54px"><a href="#" id="getRoles"
                                                                     class="btn btn-primary col-lg-12">Filtern <i
                        class="fa fa-lg fa-angle-double-right pull-right" aria-hidden="true"></i></a></div>
            </div>
        </div>

    </div>

    <div id="map" class="col-lg-10">
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBG9mAsBVabWCUw0NTBNljTS58VcBtXT4"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script>
        var center = new google.maps.LatLng(50.2085, 11.0913);
        var mapOptions = {
            center: center,
            zoom: 6,
            minZoom: 5,
            styles: [
                {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.fill', stylers: [{color: '#ffffff'}]},
                {
                    featureType: 'administrative.country',
                    elementType: 'geometry.stroke',
                    stylers: [{color: '#32d53a'}]
                },
                {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#d59563'}]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#d59563'}]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{color: '#263c3f'}]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#6b9a76'}]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{color: '#38414e'}]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{color: '#212a37'}]
                },
                {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#9ca5b3'}]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{color: '#746855'}]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{color: '#1f2835'}]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#f3d19c'}]
                },
                {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{color: '#2f3948'}]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#d59563'}]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{color: '#254a6e'}]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#515c6d'}]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{color: '#17263c'}]
                }
            ]
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var infowindow = new google.maps.InfoWindow({});
        var markersArray = [];

        var json = {{ partner|safe }}
            $(json).each(function () {
                var data = this;
                var p = data.partner;
                var pos = data.pos;
                var img = data.pic;

                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    icon: img,
                    animation: google.maps.Animation.DROP,
                });
                markersArray.push(marker);

                marker.addListener('click', function () {
                    infowindow.close();
                    infowindow.setContent(data.infobox);
                    infowindow.open(map, this);
                });

            });
        var markerCluster = new MarkerClusterer(map, markersArray,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});


        function clearOverlays() {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
            markerCluster.clearMarkers();
        }
    </script>

    <script type="text/javascript" src="{% static 'world/js/world.js' %}"></script>


{% endblock %}