.ys-layer {
    display: none;
    background-image: url(../../imgages/pattern.png);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.ys-container {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 10%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.ys-container.visible, .ys-layer.visible {
    display: block;
}

.ys-box {
    background-color: #fff;
    width: 0;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px 0 5px 5px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.8);
    transition: height .2s ease-in-out;
}

.ys-popup-close {
    position: absolute;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-decoration: none;
    text-indent: -5000px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transform: translateX(50%) translateY(-50%);
    transition: .2s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
}

.ys-container.finished .ys-popup-close {
    width: 28px;
    height: 28px;
    text-indent: 0;
}

.ys-popup-content {
    display: none;
}

.ys-container.finished .ys-popup-content {
    display: block;
}

.ys-popup-close:hover {
    text-decoration: none;
    color: #f00;
}