{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <div class="container-fluid container-first text-white">
        <div class="col-lg-10 col-lg-push-1">
            <h2>{{ p.firstname|default_if_none:'' }} {{ p.name|default_if_none:'' }}</h2>

            <div class="col-lg-3 col-lg-push-9 col-md-12 col-sm-12 col-sm-push-0 col-xs-12">
                <img class="img-circle center-block" src="{% if p.picture %}{{ p.picture.url }}{% else %} {% static 'rawo/images/default_user.png' %}{% endif %}"
                     alt="" style="max-height:100%; max-width:100%">
            </div>
            <div class="col-lg-9 col-lg-pull-3 col-md-12 col-sm-12 col-sm-pull-0 col-xs-12">
                <label for="introduction">Vorstellung:</label>
                <div class="bordered"
                     style="padding: 10px; white-space: pre-wrap;">{{ p.profil.introduction|default_if_none:'' }}</div>
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                <div class="col-lg-6 col-sm-12 col-xs-12" style="padding-left:0px">
                    <label for="usr">Erfahrungen</label>
                    <ul class="list-group">
                        {% for e in experience %}
                            {% if not e.desc == None and not e.desc == "" %}
                                <li class="list-group-item">{{ e.desc|default_if_none:'' }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12" style="padding-left:0px">
                    <label for="usr">Schwerpunkte</label>
                    <ul class="list-group">
                        {% for e in emphasis %}
                            {% if not e.desc == None and not e.desc == "" %}
                                <li class="list-group-item">{{ e.desc|default_if_none:'' }}</li> {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}