.container-first{
    padding-top: 70px;
}

.text-white{
    color:white !important;
}

.alert-small {
    padding: 10px ;
}
/*
.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
} */

.bordered {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sl-nav {
    /*margin-top: 42px*/
}
/*
.sl-nav > .nav > li > a {
    border: 1px solid #ddd;
    border-left-color: transparent;
}

.sl-nav > .nav > li + li > a {
    border-top-color: transparent;
}

.sl-nav > .nav-stacked > li + li {
    margin-top: 0px;
}*/

.vertical-right-aligned {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
}
.feedback-logo {
    width: inherit;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    padding-left: initial;
    height: 32px;
    background: initial;
}


.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}